<div class="footer-div">
    <ion-grid>
      <ion-row class="wrap">
        <!-- Left Column - MAPOG Description -->
        <ion-col size-md="4" size-sm="12">
          <div class="footer-width">
            <ion-text color="primary">
              <h5>MAPOG</h5>
            </ion-text>
            <ion-text>
              <p>At MAPOG, we specialize in precise mapping, advanced analysis, and customizable solutions to unlock location intelligence. Our goal is to optimize operations and enable informed decision-making.</p>
            </ion-text>
          </div>
        </ion-col>
  
        <!-- Products Column -->
        <ion-col size-md="2" size-sm="6">
          <ion-text color="primary">
            <h5>Products</h5>
          </ion-text>
          <ion-text>
            <p class="footer-li">Map Analysis</p>
            <p class="footer-li">GIS Data</p>
            <p class="footer-li">Route Compass</p>
            <p class="footer-li">Map Story</p>
          </ion-text>
        </ion-col>
  
        <!-- Services Column -->
        <ion-col size-md="2" size-sm="6">
          <ion-text color="primary">
            <h5>Services</h5>
          </ion-text>
          <ion-text>
            <p class="footer-li">Geocoding</p>
            <p class="footer-li">Map Creation</p>
            <p class="footer-li">Web Development</p>
            <p class="footer-li">Digitisation</p>
            <p class="footer-li">3D Mapping</p>
          </ion-text>
        </ion-col>
  
        <!-- Schedule a Meeting Column -->
        <ion-col size-md="4" size-sm="12">
          <div class="footer-width">
            <ion-text color="primary">
              <h5>Schedule a Meeting</h5>
            </ion-text>
            <ion-text>
              <p>Schedule a consultation to explore how our services align with your project needs and goals, and let's succeed together.</p>
            </ion-text>
            <div>
              <button  class="mr-20 hire-btn2">Contact Us</button>
              <button class="hire-btn2">Book a Meeting</button>
            </div>
          </div>
        </ion-col>
      </ion-row>
  
      <!-- Bottom Section -->
      <ion-row class="footer-topb mt-30">
        <ion-col size="12" size-md="6" class="text-center">
          <ion-text>
            <p class="footer-li">Copyright 2013 - 2024 All Rights Reserved</p>
          </ion-text>
        </ion-col>
        <ion-col size="12" size-md="6" class="text-center">
          <ion-text class="d-flex flex-between mr-20">
            <p class="footer-li mr-15">Privacy Policy</p>
            <p class="footer-li mr-15">Terms of Services</p>
            <p class="footer-li mr-15">Cancellation & Refund Policy</p>
            <p class="footer-li">Help</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  