<div class="footer-div">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="space-between start" class="mb-30 wrap">
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
                <div class="mr-20 footer-width">
                    <h5>MAPOG</h5>
                    <div class="footer-li">At MAPOG, we specialize in precise mapping, advanced analysis, and
                        customizable
                        solutions to unlock location intelligence. Our goal is to optimize operations and enable
                        informed
                        decision-making.</div>
                </div>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15">
                <h5>Products</h5>
                <div class="footer-li">Map Analysis</div>
                <div class="footer-li">GIS Data</div>
                <div class="footer-li"> Route Compass</div>
                <div class="footer-li">Map Story</div>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15">
                <h5>Services</h5>
                <div class="footer-li">Geocoding</div>
                <div class="footer-li">Map Creation</div>
                <div class="footer-li">Web Development</div>
                <div class="footer-li">Digitisation</div>
                <div class="footer-li">3D Mapping</div>
            </div>

            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
                <div class="mr-20 footer-width">
                    <h5>Schedule a Meeting</h5>
                    <div>Schedule a consultation to explore how our services align with your project needs and goals,
                        and let's succeed together.</div>
                    <div class="">
                        <button class="hire-btn2 mr-20 mt-20">Contact Us</button>
                        <button class="hire-btn2 mt-20">Book a Meeting</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-topb mt-30">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-20 wrap">
                <div class="mb-20">
                    <div class="footer-li">Copyright 2013 - 2024 All Rights Reserved</div>
                </div>
                <div fxLayoutAlign="space-between center" class="mb-20 wrap">
                    <div class="footer-li mr-15">Privacy Policy</div>
                    <div class="footer-li mr-15">Terms of Services</div>
                    <div class="footer-li mr-15">Cancellation & Refund Policy</div>
                    <div class="footer-li">Help</div>
                </div>
            </div>
        </div>
    </div>
</div>