<div class="process-service">
    <div class="gis-bg padding30-lr">
        <div ion-grid>
            <ion-row>
                <ion-col size="12" size-md="6" size-lg="6">
                    <h4 class="">Map Creation</h4>
                    <p class="p1 mb-30 mt-10">Personalized Custom Maps Tailored to Your Needs</p>
                    <P>Book Your Free Map Creation Consultancy Today!</P>
                    <div ion-text-center>
                        <button class="hire-btn">Free Consultancy</button>
                    </div>
                </ion-col>
                <ion-col size="12" size-md="6" size-lg="6">
                    <img class="flag-img" src="assets/img/map-creation.png" alt="">
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="map-service mt-50 container">
        <div class="mapinner-service align-center">
            <h2 class="mb-15">Our Map Creation service offers customized map creation and analysis tailored to your
                specific industry needs. </h2>
            <p>We utilize advanced tools and features to develop maps that solve your unique problem statements,
                ensuring precise and effective solutions..</p>
        </div>
        <div class="mt-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="6" class="map-bg border-bg1" ion-text-center>
                        <div class="map-service1">
                            <h4>Custom Map Creation</h4>
                            <div>
                                <ul>
                                    <li> Develop maps tailored to specific user requirements and industries.</li>
                                    <li>Utilize advanced GIS tools for accurate and detailed map creation.</li>
                                    <li>Support various map types, including topographic, thematic, and interactive maps.
                                    </li>
                                </ul>


                                <div class="gis-inner">
                                    <span class="mr-10 box-shadow">Custom Maps</span>
                                    <span class="mr-10 box-shadow">GIS Tools </span>
                                    <span class="mr-10 box-shadow">Accurate</span>
                                    <span class="mr-10 box-shadow">Detailed</span>
                                    <span class="mr-10 box-shadow">Topographic</span>
                                    <span class="mr-10 box-shadow">Thematic</span>
                                    <span class="mr-10 box-shadow">Interactive</span>
                                    <span class="mr-10 box-shadow">+</span>
                                </div>
                                <div class="gis-bg1 box-shadow mt-10" ion-text-center>
                                    <div class="pricing1 mr-20" ion-text-center>
                                        Pricing<span class="doller-sp">$</span>
                                    </div>
                                    <div class="gis-inner2 mr-20">
                                        <div class="mt-10">Starting From</div>
                                        <h5 class="mt-10"><sup>$</sup> 30 <span>/mo</span></h5>
                                    </div>
                                    <div class="align-center gis-inner3">
                                        <p>*prices would differ according to customisations.
                                            For mor details contact us.</p>
                                        <div ion-text-center>
                                            <button class="hire-btn mb-15">Contact Us
                                                <ion-icon name="call"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="6" size-lg="6">
                        <img class="map-img map1-img" src="assets/img/map1.png" alt="">
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="6">
                        <img class="map-img map2-img" src="assets/img/map2.png" alt="">
                    </ion-col>
                    <ion-col size="12" size-md="6" size-lg="6" class="map-bg border-bg2" ion-text-center>
                        <div class="map-service1">
                            <h4>3D Mapping</h4>
                            <div>
                                <ul>
                                    <li>Perform in-depth analysis to extract meaningful insights from geographic data.</li>
                                    <li>Apply spatial analysis techniques to solve specific problem statements.</li>
                                    <li>Generate reports and visualizations to support decision-making processes. </li>

                                </ul>

                                <div class="gis-inner">
                                    <span class="mr-10 box-shadow">3D Mapping</span>
                                    <span class="mr-10 box-shadow">Urban Planning</span>
                                    <span class="mr-10 box-shadow">Architecture</span>
                                    <span class="mr-10 box-shadow">Infrastructure</span>
                                    <span class="mr-10 box-shadow">Visualization</span>
                                    <span class="mr-10 box-shadow">Spatial Data</span>
                                    <span class="mr-10 box-shadow">Presentations</span>
                                    <span class="mr-10 box-shadow">Analysis</span>
                                    <span class="mr-10 box-shadow">+</span>
                                </div>
                                <div class="gis-bg1 box-shadow mt-10" ion-text-center>
                                    <div class="pricing1 mr-20" ion-text-center>
                                        Pricing<span class="doller-sp">$</span>
                                    </div>
                                    <div class="gis-inner2 mr-20">
                                        <div class="mt-10">Starting From</div>
                                        <h5 class="mt-10"><sup>$</sup> 30 <span>/mo</span></h5>
                                    </div>
                                    <div class="align-center gis-inner3">
                                        <p>*prices would differ according to customisations.
                                            For mor details contact us.</p>
                                        <div ion-text-center>
                                            <button class="hire-btn mb-15">Contact Us
                                                <ion-icon name="call"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </div>
        </div>
        <div class="mt-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="6" class="map-bg border-bg1" ion-text-center>
                        <div class="map-service1">
                            <h4>Industry-Specific Maps</h4>
                            <div>
                                <ul>
                                    <li> Create maps tailored to the needs of various industries, such as healthcare, transportation, and environmental management.</li>
                                    <li>Incorporate industry-specific data layers and features.</li>
                                    <li>Ensure maps address the unique challenges and requirements of each industry.
                                    </li>
                                </ul>
                               

                                <div class="gis-inner">
                                    <span class="mr-10 box-shadow">Industry-Specific</span>
                                    <span class="mr-10 box-shadow">Healthcare</span>
                                    <span class="mr-10 box-shadow">Transportation</span>
                                    <span class="mr-10 box-shadow">Environmental</span>
                                    <span class="mr-10 box-shadow">Data Layers</span>
                                    <span class="mr-10 box-shadow">Features</span>
                                    <span class="mr-10 box-shadow">Challenges</span>
                                    <span class="mr-10 box-shadow">Requirements</span>
                                    <span class="mr-10 box-shadow">+</span>
                                </div>
                                <div class="gis-bg1 box-shadow mt-10" ion-text-center>
                                    <div class="pricing1 mr-20" ion-text-center>
                                        Pricing<span class="doller-sp">$</span>
                                    </div>
                                    <div class="gis-inner2 mr-20">
                                        <div class="mt-10">Starting From</div>
                                        <h5 class="mt-10"><sup>$</sup> 30 <span>/mo</span></h5>
                                    </div>
                                    <div class="align-center gis-inner3">
                                        <p>*prices would differ according to customisations.
                                            For mor details contact us.</p>
                                        <div ion-text-center>
                                            <button class="hire-btn mb-15">Contact Us
                                                <ion-icon name="call"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="6" size-lg="6">
                        <img class="map-img map1-img" src="assets/img/map3.png" alt="">
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="6">
                        <img class="map-img map2-img" src="assets/img/map4.png" alt="">
                    </ion-col>
                    <ion-col size="12" size-md="6" size-lg="6" class="map-bg border-bg2" ion-text-center>
                        <div class="map-service1">
                            <h4>Cartographic Services</h4>
                            <div>
                                <ul>
                                    <li>Offer professional cartographic design services for high-quality map production.</li>
                                    <li>Ensure maps are aesthetically pleasing and easy to interpret.</li>
                                    <li>Use advanced cartographic techniques and software.</li>

                                </ul>
                           
                                <div class="gis-inner">
                                    <span class="mr-10 box-shadow">Cartographic Design</span>
                                    <span class="mr-10 box-shadow">High-Quality</span>
                                    <span class="mr-10 box-shadow">Aesthetic</span>
                                    <span class="mr-10 box-shadow">Easy to Interpret</span>
                                    <span class="mr-10 box-shadow">Techniques</span>
                                    <span class="mr-10 box-shadow">Software</span>
                                    <span class="mr-10 box-shadow">+</span>
                                </div>
                                <div class="gis-bg1 box-shadow mt-10" ion-text-center>
                                    <div class="pricing1 mr-20" ion-text-center>
                                        Pricing<span class="doller-sp">$</span>
                                    </div>
                                    <div class="gis-inner2 mr-20">
                                        <div class="mt-10">Starting From</div>
                                        <h5 class="mt-10"><sup>$</sup> 30 <span>/mo</span></h5>
                                    </div>
                                    <div class="align-center gis-inner3">
                                        <p>*prices would differ according to customisations.
                                            For mor details contact us.</p>
                                        <div ion-text-center>
                                            <button class="hire-btn mb-15">Contact Us
                                                <ion-icon name="call"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </div>
        </div>
        <div class="mt-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="6" class="map-bg border-bg1" ion-text-center>
                        <div class="map-service1">
                            <h4>Interactive Maps</h4>
                            <div>
                                <ul>
                                    <li>Create 3D maps and models for urban planning, architecture, and infrastructure projects.</li>
                                    <li>Utilize 3D visualization techniques to provide a comprehensive view of spatial data.</li>
                                    <li> Support analysis and presentations with detailed 3D representations.</li>
                                </ul>
                            
                                <div class="gis-inner">
                                    <span class="mr-10 box-shadow">Interactive Maps</span>
                                    <span class="mr-10 box-shadow">User Engagement</span>
                                    <span class="mr-10 box-shadow">Real-Time Data</span>
                                    <span class="mr-10 box-shadow">Navigation</span>
                                    <span class="mr-10 box-shadow">Zooming</span>
                                    <span class="mr-10 box-shadow">Data Exploration</span>
                                    <span class="mr-10 box-shadow">+</span>
                                </div>
                                <div class="gis-bg1 box-shadow mt-10" ion-text-center>
                                    <div class="pricing1 mr-20" ion-text-center>
                                        Pricing<span class="doller-sp">$</span>
                                    </div>
                                    <div class="gis-inner2 mr-20">
                                        <div class="mt-10">Starting From</div>
                                        <h5 class="mt-10"><sup>$</sup> 30 <span>/mo</span></h5>
                                    </div>
                                    <div class="align-center gis-inner3">
                                        <p>*prices would differ according to customisations.
                                            For mor details contact us.</p>
                                        <div ion-text-center>
                                            <button class="hire-btn mb-15">Contact Us
                                                <ion-icon name="call"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="6" size-lg="6">
                        <img class="map-img map1-img" src="assets/img/map5.png" alt="">
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-50 mb-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="6" size-lg="6">
                        <img class="map-img map2-img" src="assets/img/map6.png" alt="">
                    </ion-col>
                    <ion-col size="12" size-md="6" size-lg="6" class="map-bg border-bg2" ion-text-center>
                        <div class="map-service1">
                            <h4>Indoor Maps</h4>
                            <div>
                                <ul>
                                    <li>Create detailed indoor maps for large buildings, complexes, and facilities.</li>
                                    <li>Utilize advanced indoor positioning systems for accurate navigation.</li>
                                    <li> Support various use cases including emergency planning, facility management, and visitor navigation.</li>

                                </ul>
                            
                                <div class="gis-inner">
                                    <span class="mr-10 box-shadow">Indoor Mapping</span>
                                    <span class="mr-10 box-shadow">Building  Layouts</span>
                                    <span class="mr-10 box-shadow">Indoor Positioning</span>
                                    <span class="mr-10 box-shadow">Navigation</span>
                                    <span class="mr-10 box-shadow">Emergency Planning</span>
                                    <span class="mr-10 box-shadow">Facility Management</span>
                                    <span class="mr-10 box-shadow">Visitor Navigation</span>
                                    <span class="mr-10 box-shadow">+</span>
                                </div>
                                <div class="gis-bg1 box-shadow mt-10" ion-text-center>
                                    <div class="pricing1 mr-20" ion-text-center>
                                        Pricing<span class="doller-sp">$</span>
                                    </div>
                                    <div class="gis-inner2 mr-20">
                                        <div class="mt-10">Starting From</div>
                                        <h5 class="mt-10"><sup>$</sup> 30 <span>/mo</span></h5>
                                    </div>
                                    <div class="align-center gis-inner3">
                                        <p>*prices would differ according to customisations.
                                            For mor details contact us.</p>
                                        <div ion-text-center>
                                            <button class="hire-btn mb-15">Contact Us
                                                <ion-icon name="call"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</div>