<div class="process-service">
    <div class="gis-bg padding30-lr">
        <div class="wrap mbl-width d-flex flex-between">
            <div class="mb-10 mbl-width1">
                <h4 class="">Data Processing</h4>
                <p class="p1 mb-30 mt-10">Efficient Data Processing and Analysis</p>
                <P>Book Your Free Data Processing Consultancy Today!</P>
                <div ion-text-center>
                    <button class="hire-btn">Free Consultancy</button>
                </div>
            </div>
            <div class="mbl-width2">
                <img class="flag-img" src="assets/img/process-data.png" alt="">
            </div>
        </div>
    </div>

    <div class="web-service2 mt-50 container">
        <div class="webinner-service align-center">
            <h2 class="mb-15 text-upper">Industries we Cover</h2>
        </div>
        <div class="tools-div mt-30">
            <div ion-grid class="d-flex flex-between">

                <div class="tools-logo d-flex flex-center" ion-text-center>
                    <div>
                        <div class="align-center">
                            <img src="assets/img/vector1.png" alt="">
                        </div>
                        <span>Agriculture</span>
                    </div>
                </div>
                <div class="tools-logo d-flex flex-center" ion-text-center>
                    <div>
                        <div class="align-center">
                            <img src="assets/img/vector2.png" alt="">
                        </div>
                        <span>Urban Planning</span>
                    </div>
                </div>
                <div class="tools-logo d-flex flex-center" ion-text-center>
                    <div>
                        <div class="align-center">
                            <img src="assets/img/vector3.png" alt="">
                        </div>
                        <span>Healthcare</span>
                    </div>
                </div>


                <div class="tools-logo d-flex flex-center" ion-text-center>
                    <div>
                        <div class="align-center">
                            <img src="assets/img/vector4.png" alt="">
                        </div>
                        <span>Transportation</span>
                    </div>
                </div>
                <div class="tools-logo d-flex flex-center" ion-text-center>
                    <div>
                        <div class="align-center">
                            <img src="assets/img/vector5.png" alt="">
                        </div>
                        <span>Environment Conservation</span>
                    </div>
                </div>
                <div class="tools-logo d-flex flex-center" ion-text-center>
                    <div>
                        <div class="align-center">
                            <img src="assets/img/vector6.png" alt="">
                        </div>
                        <span>Emergency Management</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="process-service2 mt-50 container">
        <div class="processinner-service align-center">
            <h2 class="mb-15">Tailored to meet your unique needs, our Process Data services transform and optimize your
                data for enhanced analysis and decision-making.</h2>
            <p>We ensure accuracy, consistency, and usability, empowering you to extract valuable insights and achieve
                your project goals with confidence.</p>
        </div>
        <div class="mt-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Geocoding</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup> 30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img1" src="assets/img/geocoding1.png" alt="">
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center class="d-flex">
                                        <div>
                                            <ul>
                                                <li>Convert addresses to geographic coordinates, Transform street
                                                    addresses into
                                                    precise latitude and longitude coordinates.</li>
                                                <li>Reverse geocoding, Convert geographic coordinates back into
                                                    human-readable
                                                    addresses.</li>
                                                <li>Support for bulk geocoding, Handle large datasets efficiently with
                                                    batch
                                                    processing.</li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Isochrone Generation</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup> 30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Create isochrones to map areas accessible within set time or
                                                    distance
                                                    limits.</li>
                                                <li> Utilize isochrones for transportation planning and service area
                                                    analysis.
                                                </li>
                                                <li>Support for various modes of transport, walking, driving, cycling,
                                                    and
                                                    public transport.</li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img2" src="assets/img/Isochrone1.png" alt="">
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Split & Merge Polygon</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup> 30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img1" src="assets/img/split-merge.png" alt="">
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Split polygons into smaller sections based on specified criteria.
                                                </li>
                                                <li>Merge polygons into single, unified polygon, including merges based
                                                    on
                                                    specific attributes.</li>
                                                <li>Tailor Polygon Operations to meet specific project requirements.
                                                </li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Spatial & Attribute Join</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup>30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Combine spatial and attribute data to create meaningful connections
                                                    and
                                                    enrich your datasets.</li>
                                                <li>Enable spatial analysis with joins based on location proximity and
                                                    overlap.
                                                </li>
                                                <li>Support multiple join types such as intersects, contains, and
                                                    various
                                                    attribute relationships. </li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img2" src="assets/img/spatial-join.png" alt="">
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Cross & Border Intersection</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup>30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img1" src="assets/img/cross-intersection.png" alt="">
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Identify intersections between different geographic boundaries.</li>
                                                <li>Analyze the impact of cross-border intersections on spatial data.
                                                </li>
                                                <li>Manage and rectify cross-border data discrepancies.</li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Nearest & Nearby Neighbour</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup>30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Identify the closest data points to a specific location.</li>
                                                <li>Calculate distances between data points for precise proximity
                                                    analysis.</li>
                                                <li>Identify multiple nearby neighbours within a specified radius or
                                                    distance.
                                                </li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img2" src="assets/img/nearest-nearby.png" alt="">
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Buffer Analysis</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup>30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img1" src="assets/img/buffer.png" alt="">
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Identify intersections between different geographic boundaries.</li>
                                                <li>Analyze the impact of cross-border intersections on spatial data.
                                                </li>
                                                <li>Manage and rectify cross-border data discrepancies.</li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="mt-30 mb-50">
            <div ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4" size-lg="4">
                        <div class="gis-bg1 box-shadow data-border mr-30">
                            <div class="pricing1">Convex Hull</div>
                            <div ion-text-center class="gis-inner2">
                                <div class="mt-10">Starting From</div>
                                <h5 class="mt-10"><sup>$</sup>30<span>/mo</span></h5>
                                <p>*prices would differ according to customisations.
                                    For mor details contact us.</p>
                                <div ion-text-center>
                                    <button class="hire-btn mt-10 mb-10">Contact Us <ion-icon
                                            name="call"></ion-icon></button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="8" size-lg="8">
                        <div class="gis-bg2 box-shadow data-border">
                            <div ion-grid>
                                <ion-row>
                                    <ion-col size="12" size-md="6" size-lg="6" ion-text-center>
                                        <div>
                                            <ul>
                                                <li>Identify the closest data points to a specific location.</li>
                                                <li>Calculate distances between data points for precise proximity
                                                    analysis.</li>
                                                <li>Identify multiple nearby neighbours within a specified radius or
                                                    distance.
                                                </li>
                                            </ul>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-md="6" size-lg="6">
                                        <img class="img2" src="assets/img/convex-hull.png" alt="">
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</div>