<div class="service-div">
    <h2 ion-text-center class="mb-15 d-flex flex-center">Our Services</h2>
    <p ion-text-center class="">Discover our diverse range of services designed to meet your geographic
        and digital needs. We offer comprehensive GIS data management, custom map creation, expert web development, and
        efficient data processing solutions. Our team is dedicated to enhancing your data accuracy, utility, and overall
        digital experience</p>
    <div ion-text-center  class="d-flex flex-center">
        <button class="hire-btn">Schedule Meeting</button>
    </div>
</div>
<div class="service-div2 container mt-50">
    <div ion-grid>
        <ion-row>
            <ion-col size="12" size-md="3" size-lg="3" class="width-mbl">
                <div class="service1 mr-15">
                    <div class="service-1 padding10-lr">
                        <div class="align-center">
                            <h4 class="pt-20">GIS Data</h4>
                            <p class="mb-20 mt-10">Comprehensive GIS Data Solutions For Your Needs</p>
                            <img class="service-img" src="assets/img/service1.png" alt="">
                        </div>
                        <div class="align-center">
                            <span class="sp1">Starting From</span>
                            <h6><sup>$</sup>30 <span class="sp2">/mo</span></h6>
                        </div>
                    </div>
                    <div class="service-2">
                        <div class="align-center pointer" ion-text-center (click)="navigateToRoute('gis-data')">
                            <span>Explore</span>
                            <ion-icon name="chevron-forward"></ion-icon>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12" size-md="3" size-lg="3" class="width-mbl">
                <div class="service1 mr-15">
                    <div class="service-1 padding10-lr">
                        <div class="align-center">
                            <h4 class="pt-20">Web Development</h4>
                            <p class="mb-20 mt-10">Innovative and Scalable Web Solutions</p>
                            <img class="service-img" src="assets/img/service2.png" alt="">
                        </div>
                        <div class="align-center">
                            <span class="sp1">Starting From</span>
                            <h6><sup>$</sup>30 <span class="sp2">/mo</span></h6>
                        </div>
                    </div>
                    <div class="service-2">
                        <div class="align-center pointer" ion-text-center (click)="navigateToRoute('web-development')"> 
                            <span>Explore</span>
                            <ion-icon name="chevron-forward"></ion-icon>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12" size-md="3" size-lg="3" class="width-mbl">
                <div class="service1 mr-15">
                    <div class="service-1 padding10-lr">
                        <div class="align-center">
                            <h4 class="pt-20">Process Data</h4>
                            <p class="mb-20 mt-10">Efficient Data Processing and Analysis</p>
                            <img class="service-img" src="assets/img/service3.png" alt="">
                        </div>
                        <div class="align-center">
                            <span class="sp1">Starting From</span>
                            <h6><sup>$</sup>30 <span class="sp2">/mo</span></h6>
                        </div>
                    </div>
                    <div class="service-2">
                        <div class="align-center pointer" ion-text-center (click)="navigateToRoute('process-data')">
                            <span>Explore</span>
                            <ion-icon name="chevron-forward"></ion-icon>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12" size-md="3" size-lg="3" class="width-mbl">
                <div class="service1">
                    <div class="service-1 padding10-lr">
                        <div class="align-center">
                            <h4 class="pt-20">Map Creation</h4>
                            <p class="mb-20 mt-10"> Personalized Custom Maps Tailored to Your Needs</p>
                            <img class="service-img" src="assets/img/service4.png" alt="">
                        </div>
                        <div class="align-center">
                            <span class="sp1">Starting From</span>
                            <h6><sup>$</sup>30 <span class="sp2">/mo</span></h6>
                        </div>
                    </div>
                    <div class="service-2">
                        <div class="align-center pointer" ion-text-center (click)="navigateToRoute('map-creation')">
                            <span>Explore</span>
                            <ion-icon name="chevron-forward"></ion-icon>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</div>
<div class="container mb-30 mt-50 mb-30">
    <div class="service-div mt-50">
        <h2 ion-text-center class="mb-15 d-flex flex-center">Testimonials</h2>
        <p ion-text-center class="d-flex flex-center">Our client’s success stories highlight the transformative power of our GIS
            and mapping services. From urban planning and environmental conservation to transportation management and
            healthcare optimization, our customized solutions have helped clients across various industries achieve their
            goals with precision and efficiency. Explore their testimonials to see how our expertise has made a significant
            impact on their projects and decision-making processes.
        </p>
        
    </div>
    <div class="testimonial-div">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="4" size-lg="4" class="width-mbl">
                    <div class="testimonial-inner mr-20">
                        <div class="testimonial-inner1 d-flex flex-between" ion-text-center>
                            <div>
                                <h4 class="mb-10">Shikhar Chandran</h4>
                                <p>Greenfield Solutions pvt.</p>
                            </div>
                            <div>
                                <img class="flag-img" src="assets/img/flag.png" alt="">
                            </div>
                        </div>
                        <div class="testimonial-inner2">
                            <p>"MAPOG revolutionized our approach to mapping solutions. Their intuitive tools and expertise in geospatial technology helped us visualize complex data with clarity and precision."</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="4" class="width-mbl">
                    <div class="testimonial-inner mr-20">
                        <div class="testimonial-inner1 d-flex flex-between" ion-text-center>
                            <div>
                                <h4 class="mb-10">Shikhar Chandran</h4>
                                <p>Greenfield Solutions pvt.</p>
                            </div>
                            <div>
                                <img class="flag-img" src="assets/img/flag.png" alt="">
                            </div>
                        </div>
                        <div class="testimonial-inner2">
                            <p>"MAPOG revolutionized our approach to mapping solutions. Their intuitive tools and expertise in geospatial technology helped us visualize complex data with clarity and precision."</p>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="4" class="width-mbl">
                    <div class="testimonial-inner">
                        <div class="testimonial-inner1 d-flex flex-between" ion-text-center>
                            <div>
                                <h4 class="mb-10">Shikhar Chandran</h4>
                                <p>Greenfield Solutions pvt.</p>
                            </div>
                            <div>
                                <img class="flag-img" src="assets/img/flag.png" alt="">
                            </div>
                        </div>
                        <div class="testimonial-inner2">
                            <p>"MAPOG revolutionized our approach to mapping solutions. Their intuitive tools and expertise in geospatial technology helped us visualize complex data with clarity and precision."</p>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>